@media(max-width:1690px){
    .nav-ul{
        padding-left: 0;
    }
}

@media(max-width:1575px){
    .full-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: solid 2px #cecccc;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media(max-width:1495px){
    .end-block{
        background-color: #A80E0E;
        max-width: 228px;
        width: 100%;
        max-height: 90px;
        height: 100%;
        font-size:10px;
        color: #FFF;
        font-weight: 100;
        padding: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        text-align: center;
        
    }
    .font{
        font-size: 10px;
        margin: 0;
        margin-bottom: 30px;
    }
}
@media(max-width:1260px){
    .third-section{
        height: auto;
    }
    .title-1{
        max-width:300px;
        width: 100%;
        height: auto;
    }
    .main-text-1{
        font-size: 25px;
        max-width:300px;
        width: 100%;
        height: auto;
        margin-top: 200px;
    }
    .main-text-2{
        font-size: 12px;
        max-width:300px;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
    .employee{
        max-width:700px;
        width: 100%;
        height: auto;
    }
}

@media(max-width:1295px){
    .end-block{display: none;}
}

@media(max-width:1150px){
    .tired-of-p-classes{
        font-size: 16px;
        color: black;
        max-width:300px;
        width: 100%;
        height: auto;
    }
    .content-combiner{
        padding-left:100px;
    }
}

@media(max-width:1080px){
    .burger-bar{
        display: inline-block;
        font-size: 50px;
        border-radius: 20px;
    }
    .display-burger{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 30px;
    }
    .nav-ul{
        display: none;
    }

    .pretty-woman{
        max-width: 380px;
        width: 100%;
        height:auto;
        display: inline-block;
    }
    .ci{
        margin-top: 30px;
        margin-left: 30px;
    }
    .tired-of-p-classes{
        margin-left: 30px;
        margin-top: 30px;
    }
}

@media(max-width:950px){
    .pretty-woman{
        max-width: 280px;
        width: 100%;
        height:auto;
        display: inline-block;
    }
    .ci{
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .tired-of-p-classes{
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media(max-width:750px){
    .socials{
        -ms-flex-wrap:wrap ;
            flex-wrap:wrap ;
    }
    .socials-2{
        margin-top:10px
    }
    .img{
        margin-top: 20px;
    }

    .content-combiner{
        padding-left: 0;
    }
    .section-blocks-wrapper{
        padding: 0;
    }
    .blocks-wrap{
        margin-top: 40px;
    }
    .cube-wrap{
        margin-top: 10px
    }
}

@media(max-width:620px){
    .logo-wrap{
        margin-left: 10px;
        margin-top: 40px;
    }
    .title-font{
        font-size: 56px;
        color: #FFF;
        font-family: 'Montserrat', sans-serif; 
        margin-left: 10px;
        margin-top: 100px;
    }

    .description-font{
        color: #FFF;
        font-family: 'Montserrat', sans-serif; 
        font-size: 15px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 40px;
    }
    .button-sb{
        margin-left:10px;
        margin-top: 40px;
    }
}

@media(max-width:590px){
    .left-side-wrap{
        margin-top: 57px;
        margin-left: 0px;
    }
    .footer-text-1{
        font-size: 14px;
    }
    .bank-img{
        margin: 0;
    }
    .img{
       max-width:250px ;
       width: 100%;
       height: auto;
    }
    .clock-info{
        font-size: 12px;
    }
    .arvici{
        font-size: 20px;
    }
    .number-info{
        font-size: 25px;
    }
    .socials-2{
        font-size: 14px;
    }
    .call-us-btn{
        width:100px ;
        height:50px ;
    }
    .blocks-wrap{
        margin-top: 80px;
    }
    .full-wrapper{
        margin-left: 20px;
    }
}


@media(max-width:420px){
    .ravcici{
        margin-top: 15px;
    }
}
@media(max-width:370px){
    .img{
        margin-top: 150px;
    }
}