.first-section{
    background-image: url(../images/Untitled-1.jpg);
    width: 100%;
    max-height:1080px;
    height: 100%;
    padding-bottom: 315px;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.display-burger{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    display: none;
}
.burger-bar{
    font-size: 30px;
    color: rgb(165, 129, 62);
    display: none;
}
.fixed-list{
    position: absolute;
    top: 0;
    left: 0;
}

.logo-wrap{
    margin-left: 235px;
    margin-top: 40px;
}

.navigation-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 43px;
    padding-left:330px;
}
.link-a{
    color: #FFF;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-right: 54px;
}

.link-a:hover{
    
    color:#A80E0E ;
}

.end-block{
    background-color: #A80E0E;
    max-width: 428px;
    width: 100%;
    max-height: 109px;
    height: 100%;
    font-size:40px;
    color: #FFF;
    font-weight: 100;
}
.font:hover{
 -webkit-box-shadow: 0px 15px 15px #cecccc;
         box-shadow: 0px 15px 15px #cecccc; 
}
.font{
    margin-left:60px;
    margin-top: 42px;
    margin-bottom: 33px;
    width:23.11px ;
    height:32px;
    cursor: pointer;
}

.title-font{
    font-size: 96px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif; 
    margin-left: 284px;
    margin-top: 158px;
}

.description-font{
    color: #FFF;
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
    font-weight: bold;
    margin-left: 284px;
    margin-top: 48px;
}

.button-sb{
    max-width:255px ;
    width: 100%;
    height:68px ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #FFAA00;
    border-radius: 35px;
    font-size: 25px;
    color: #A80E0E;
    margin-left:235px;
    margin-top: 90px;
    cursor: pointer;
}

.button-sb:hover{
    background-color: #b17f1c;
    color: #FFF;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.second-section{
    width: 100%;
    height:auto ;
}
.header-menu{
    font-family:'Montserrat', sans-serif; 
    font-size:50px;
    color: #A80E0E;
    font-weight: 500;
    margin-bottom: 43px;
}
.content-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 139px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.p-tag{
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}

.menu-wrap{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top:72px;
    padding-left:50px ;
    padding-right:50px ;
    margin-bottom: 50px;
}

.image-wrap{
    max-width:94.43px ;
    width: 100%;
    height:116.35px ;
}
.menu-item{
    max-width: 248px;
    width: 100%;
    height: 236px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.menu-item:hover{
    -webkit-box-shadow: 0px 15px 15px #cecccc;
            box-shadow: 0px 15px 15px #cecccc;
    border-radius: 20px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}


.name-tag{
    font-size: 20px;
    font-weight: 400;
    font-family:'Montserrat', sans-serif;
    margin-top: 30px;
}

.third-section{
    width: 100%;
    height: 852px;
    background-color: #FFAA00;
    z-index: 1;
}
.main-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.employee{
    z-index: 2;
    width:809px ;
    height:809px ;
    margin-top: 38px;
}
.main-text-1{
    font-family:'Montserrat', sans-serif;
    font-size: 47px;
    width: 443px;
    color: #FFF;
    margin-top: 347px;
}
.main-text-2{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    width: 443px;
    color: #FFF;
    margin-top: 67px;
}

.fourth-section{
    width:80%;
    height:auto;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section-title{
    margin-top: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fourth-title{
    font-family:'Montserrat', sans-serif; 
    font-size: 40px;
    color: #A80E0E;
    font-weight: 700;
}
.fourth-description{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    width: auto;
    margin-top: 37px;
}
.full-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top:50px;
}

.p-1{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top:25px;
    color: #000000;
    margin-left: 25px;
}
.p-2{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top:25px;
    color:#686868;
    margin-left: 25px;
}

.low-level-wrap{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom:15px;
}
.submit-button{
    max-width:164px ;
    width:100% ;
    height:40px ;
    background-color: #FFAA00;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
    border-radius: 35px;
    margin-left: 25px;
}

.submit-button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #d69b23;
}
.price-tag{
    font-size: 22px;
    color: #A80E0E;
    margin-left:7px
}

.content-wrapper-1{
    margin-top:35px;
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    margin-right:20px;
}

.submit-btn{
    max-width: 255px;
    width: 100%;
    height: 68px;
    background-color: #A80E0E;
    font-size: 18px;
    color:#FFF;
    border-radius: 35px;
    cursor: pointer;

}

.submit-btn:hover{
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    opacity: 0.9;
}
.btn-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
}

.fifth-section{
    background-image: url(../images/2663738.jpg);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section-blocks-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 250px;
}

.fifth-info{
    max-width: 449px;
    width: 100%;
    height: 184px;
}

.fifth-title{
    color: #FFF;
    font-size:60px;
    font-family: 'montserrat' , sans-serif;
    font-weight: 900;
    margin-bottom: 25px;
}

.fifth-text{
    color: #FFF;
    font-size:25px;
    font-family: 'montserrat' , sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

.blocks-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center ;
        -ms-flex-align:center ;
            align-items:center ;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.first-cube{
    max-width:85px ;
    width:100% ;
    height:85px ;
    background-color: #FFAA00;
    color: #fff;
    font-size: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 80px;
}

.date{
    color: #FFF;
    font-size: 17px;
    margin-left:-40px;
    margin-top: 12px;
}

.sixth-section{
    width: 70%;
    height:auto;
    margin: 0 auto;
    
}

.sixth-wrap{
   max-width: 610px;
   width: 100%;
   height:536px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   margin-top: 126px;
}

.pretty-woman{
    max-width: 480px;
    width: 100%;
    height:auto;
    display: inline-block;
}

.tired-of-p-classes{
    font-size: 20px;
    font-family: 'montserrat' , sans-serif;
    color: #000000;
    margin-top: 40px;
    margin-left: 60px;
}
.ci{
    margin-top: 80px;
    margin-left: 60px;
}
.div-1{
    max-width: 480px;
    width: 100%;
    height:auto;
    display: inline-block;
}

.seventh-section{
    width: 100%;
    height: auto;
    background-color: #FFAA00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.seventh-wrapper{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
}

.seventh-content-wrap{
    max-width: 326px;
    width: 100%;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    background-color: #FFF;
    margin-right: 20px;
    margin-top: 20px;
}

.block-image{
    margin-bottom: 18px;
}

.option-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    max-width: 178px;
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

hr{
    width: 40%;
    margin: 0 auto;
    size:3;
    color: #FFAA00;
    margin-bottom: 20px;
    margin-top: 20px;
}

.option-info-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    max-width: 278px;
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.final-section{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #A80E0E;
}
.content-combiner{
    width: 50%;
    height: 637px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 222px;
}

.map{
    width: 100%;
    height: 99.5%;
}

.map-div{
    width: 50%;
    height: 637px;
}

.call-us-btn{
    max-width: 118px;
    width: 100%;
    height: 41px;
    background-color:#FFAA00;
    font-size: 18px;
    color:#FFF;
    border-radius: 35px;
    cursor: pointer;
}
.call-us-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.number-info{
    width: auto;
    height: auto;
    font-size: 40px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 33px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.div-clock{
    max-width:365px ;
    width: 100%;
    height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 35px;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
}

.second-chance{
    max-width: 188px;
    width: 100%;
    height: 49px;
}

.arvici{
    font-size: 40px;
    margin-right: 10px;
    color: #FFAA00;
}

.socials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 50px;
}

.socials-2{
    background-color: #fff;
    margin-left:15px ;
    color: #A80E0E;
    border-radius: 5px;
    border: solid 10px #FFF;
}

.socials-2:hover{
    background-color: #FFAA00;
    border-color: #FFAA00;
    color:rgb(53, 52, 52) ;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    -webkit-box-shadow: 0px 10px 15px #cecccc;
            box-shadow: 0px 10px 15px #cecccc;
}

.footer-main-wrapper{
    width: 100%;
    height: 567px;
}

.full-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 2px #cecccc;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.left-side-wrap{
    max-width: 562px;
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 97px;
    margin-left: 135px;
}

.main-logo{
    max-width:149.55px ;
    width: 100%;
    height: 105px;
}

.footer-text-1{
    max-width:562px ;
    width: 100%;
    height:102px ;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 17px;
    margin-bottom: 10px;
}

.bank-img{
    max-width: 351px;
    width: 100%;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

.useful-links{
    max-width: 402px;
    width: 100%;
    height: 249px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.title-main-block{
    font-size: 20px;
    color: #A80E0E;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.raghaca-xazi{
    margin-left: 0;
    width: 75px;
    border: solid 2px #FFAA00;
}

.bottom-nav-ul{
    padding-top: 20px;
}

.list-wrapper{
    max-width: 402px;
    width: 100%;
    height:139px ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.list-list{
    padding-right: 70px;
    width: auto;
}

.list-list:nth-last-child(){
    padding: 0;
}

.list-item-bot{
    margin-top:15px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.images-wrapper{
    max-width: 353px;
    width: 100%;
    height: auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
}

.ravcici{
    max-width: 100px;
    width: 100%;
    height: 93px;
}
.second-imgs-wrapper{
    margin-top: 30px;
    margin-right: 100px;
}

.last-wrapper{
    width:80% ;
    margin: 0 auto;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.last-element{
    font-size: 16px;
    color: #888585;
    font-weight: 400;
}